@use 'sobre';
@use 'form';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(190, 233, 241);
    font-family: agbalumo;
}


body {
    background: linear-gradient(110.9deg, rgb(159, 131, 216) 2.6%, rgb(27, 245, 241) 100.2%);
    max-width: 100%;
    padding: 30px;
}

.container {
    background-size: auto;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(3, 38, 45) 100%);
    padding: 30px;
}

header {
    border-radius: 10px;

    h2, h1 {
        letter-spacing: 3px;
    }

    nav {
        margin-top: 30px;

        ul {
            width: 80%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
    
            
    
            li {
                margin: 0 55px;

            }
        }
    }
    }

h1 {
    margin-bottom: 20px;
}

.shader-vermelho {
    color: transparent;
    background-image: radial-gradient(#f8ed1c, rgb(248, 208, 89), #ffb300);
    -webkit-background-clip: text; /* Para navegadores baseados no motor Webkit (como Chrome e Safari) */
    background-clip: text; /* Para navegadores modernos */
    display: inline-block;
    
}

header {
    text-align: center;
    border-bottom: 8px;

}

main {

    img {
        max-height: 300px;
    }
}


